$handlePercentageFromTop: 15rem;
$editorToggleFromTop: 5rem;

:host {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    --divider-line-width: 2px;
    --handle-size: 2.5rem;
    --divider-color: #6441A4;
    --divider-handle-icon-color: #fff;
}

.base {
    flex: 1;
    display: relative;
    color: var(--sl-color-neutral-900);
    font: 16px var(--sl-font-sans);
    font-weight: var(--sl-font-weight-normal);
}

.baseItem {
    position: absolute;
    width: 100%;
    height: 100%;
}

.divider {
    z-index: 700;
    height: 100%;
    width: var(--handle-size);
    translate: calc(var(--handle-size) / -2);
}

.dividerAnimating {
    transition: clip-path 0.5s ease-in, left 0.5s ease-in;
    pointer-events: none;
}

.dividerLine {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--divider-color);
    width: var(--divider-line-width);
    cursor: ew-resize;

    &.dividerLineTop {
        height: calc($handlePercentageFromTop - (var(--handle-size) / 2));
    }

    &.dividerLineBottom {
        height: calc(calc(100% - $handlePercentageFromTop) - (var(--handle-size) / 2));
    }
}

.dividerHandle {
    z-index: 800;
    width: var(--handle-size);
    height: var(--handle-size);
    background-color: var(--divider-color);
    border-radius: 50%;
    cursor: ew-resize;
    display: flex;

    sl-icon {
        flex: 1;
        margin: auto;
        width: 1em;
        height: 1em;
        color: var(--divider-handle-icon-color);
        transition: margin-left 0.5s;
        transition: margin-right 0.5s;

        &.leftSide {
            margin-left: 0.8em;
        }

        &.rightSide {
            margin-right: 0.8em;
        }
    }
}

.overlayFrame {
    border: 0;
    padding: 0;
    margin: 0;
    
    &.blockActions {
        pointer-events: none;
    }
}

.blockActions {
    pointer-events: none;
}

.left {
    z-index: 400;
}

.filter {
    z-index: 400;
    pointer-events: none;
}

.editor {
    position: absolute;
    z-index: 600;
    top: $editorToggleFromTop;
    right: 5px;
    display: flex;
}

.editorControls {
    margin-right: 1rem;
    transform: scale(0);
    transform-origin: top right;
    transition: all 0.2s ease-in;

    &.editorControlsVisible {
        transform: scale(1);
    }

    & > sl-card {
        width: 25rem;
        max-height: calc(100vh - $editorToggleFromTop - 5rem);
        overflow: auto;

        sl-range {
            &:not(:last-of-type) {
                margin-bottom: 1rem;
            }
            &::part(form-control-label) {
                margin-bottom: 0.5rem;
            }
        }
    }

    & sl-input[pill] {
        margin-bottom: 0.5rem;
    }

    .editorFiltersHolder {
        display: flex;
        gap: 1rem;
        overflow: auto;
    }

    .filterCard {
        cursor: pointer;
        display: none;

        &.filterCardShown {
            display: flex;
        }

        &::part(body) {
            border-bottom-width: 0px;
        }

        &::part(footer) {
            border-top-width: 0px;
        }

        &:hover {
            --border-color: var(--sl-color-primary-700);
        }
    }

    .filterCardSelected {
        --border-color: var(--sl-color-primary-500);
    }

    .filterCard::part(body) {
        padding: 0;
    }

    .filterPreview {
        width: 100px;
        height: 100px;
        background-color: #e5e5f7;
        opacity: 0.8;
        background-image:  linear-gradient(30deg, #6441A4 12%, transparent 12.5%, transparent 87%, #6441A4 87.5%, #6441A4), linear-gradient(150deg, #6441A4 12%, transparent 12.5%, transparent 87%, #6441A4 87.5%, #6441A4), linear-gradient(30deg, #6441A4 12%, transparent 12.5%, transparent 87%, #6441A4 87.5%, #6441A4), linear-gradient(150deg, #6441A4 12%, transparent 12.5%, transparent 87%, #6441A4 87.5%, #6441A4), linear-gradient(60deg, #6441A477 25%, transparent 25.5%, transparent 75%, #6441A477 75%, #6441A477), linear-gradient(60deg, #6441A477 25%, transparent 25.5%, transparent 75%, #6441A477 75%, #6441A477);
        background-size: 20px 35px;
        background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
    }

    .filterEmotePreview {
        width: 100px;
        background-color: #e5e5f7;
        opacity: 0.8;
        background-image: radial-gradient(circle at center center, #6441A4, #e5e5f7), repeating-radial-gradient(circle at center center, #6441A4, #6441A4, 10px, transparent 20px, transparent 10px);
        background-blend-mode: multiply;
    }

    .editorControlsFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
