:host {
    display: flex;
    flex: 1;
    font-family: var(--sl-font-sans);
    color: var(--sl-color-neutral-800);
}

.base {
    flex: 1;
}

.holderCard {
    margin: auto;
    font-size: var(--sl-font-size-2x-large);

    .cardBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem;
        gap: 3rem;

        sl-icon {
            font-size: var(--sl-font-size-4x-large);
        }
    }
}