:host {
    display: flex;
    flex: 1;
    font-family: var(--sl-font-sans);
    color: var(--sl-color-neutral-800);
}

.base {
    flex: 1;
}

.holderCard {
    margin: auto;
    max-width: 1000px;

    .holderCardHeader, .holderFooter {
        min-height: calc(var(--sl-font-size-large)* 3);
        font-size: var(--sl-font-size-large);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}